@model List<Post>
@*@inject IOptionsSnapshot<BlogSettings> settings*@
@using Miniblog.Core.Models;
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor _httpContextAccessor

@foreach (var post in Model)
{


    <article class="post container" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <header>
            <h1 itemprop="name headline"><a href="@post.GetLink()" rel="canonical" itemprop="url">@post.Title</a></h1>
            <time datetime="@post.PubDate.ToString("s")" itemprop="datePublished">Published @post.PubDate.ToString("MMM d, yyyy")</time>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Blog" asp-action="edit" asp-route-id="@post.ID" title="Edit the post">Edit post</a>
            }
        </header>

        @*<div itemprop="articleBody mainEntityOfPage" cdnify>
                @if (showFullPost || settings.Value.ListView == PostListView.FullPosts)
                {
                    @Html.Raw(post.RenderContent())
                }
                else if (settings.Value.ListView == PostListView.TitlesAndExcerpts)
                {
                    @Html.Raw(post.Excerpt)
                }
            </div>*@

        <div itemprop="articleBody mainEntityOfPage" cdnify>


            @Html.Raw(post.Excerpt)

        </div>

        <footer>
            @if (post.Categories.Any())
            {
                <ul class="categories">
                    <li> Posted in </li>
                    @foreach (string cat in post.Categories)
                    {
                        <li itemprop="articleSection"><a asp-controller="Blog" asp-action="Category" asp-route-category="@cat.ToLowerInvariant()" asp-route-page="">@cat</a></li>
                    }
                </ul>
                <text>and has</text>
            }

            <a href="@post.GetLink()#comments" itemprop="discussionUrl" title="Go to the comments section">
                <span itemprop="commentCount">@post.Comments.Count</span> @(post.Comments.Count == 1 ? "comment" : "comments")
            </a>

            @*<meta itemprop="author" content="@settings.Value.Owner" />
                <meta itemprop="dateModified" content="@post.LastModified.ToString("s")" />
                <meta itemprop="mainEntityOfPage" content="@(host + Model.GetLink())" />*@
        </footer>
    </article>



    @if (User.Identity.IsAuthenticated)
    {
        @*@section Scripts {
            <script src="~/js/admin.js" async defer></script>
            <link rel="stylesheet" href="~/css/admin.scss" />
        }*@
    }

}
